---
version: 1
interactions:
- request:
    body: |
      {"zone":"jdl-example.com"}
    form: {}
    headers:
    url: https://api.nsone.net/v1/zones/jdl-example.com
    method: PUT
  response:
    body: |
      {"nx_ttl":3600,"retry":7200,"zone":"jdl-example.com","dnssec":false,"network_pools":["p06"],"serial":1581538524,"primary":{"enabled":false,"secondaries":[]},"refresh":43200,"expiry":1209600,"disabled":false,"records":[{"domain":"jdl-example.com","short_answers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"ttl":3600,"tier":1,"type":"NS","id":"5e445cdc73cb6900c85c048c"}],"meta":{},"link":null,"primary_master":"dns1.p06.nsone.net","ttl":3600,"id":"5e445cdc73cb6900c85c0487","dns_servers":["dns1.p06.nsone.net","dns2.p06.nsone.net","dns3.p06.nsone.net","dns4.p06.nsone.net"],"hostmaster":"hostmaster@nsone.net","networks":[0],"pool":"p06"}
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - "200"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
