---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.nsone.net/v1/zones/jdl-example.com/somewhere.jdl-example.com/A
    method: GET
  response:
    body: |
      {"domain":"somewhere.jdl-example.com","zone":"jdl-example.com","use_client_subnet":true,"answers":[{"answer":["1.2.3.4"],"meta":{},"id":"5e4b1fd747e68a00849085d6"}],"id":"5e4b1fd747e68a00849085d7","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"A","networks":[0]}
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fe6590966282ef7536eb0f286787d71ae6dd020c"
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - "900"
      X-Ratelimit-Period:
      - "300"
      X-Ratelimit-Remaining:
      - "899"
    status: 200 OK
    code: 200
    duration: ""
