---
version: 1
interactions:
- request:
    body: |
      {"meta":{},"zone":"jdl-example.com","domain":"somewhere.jdl-example.com","type":"A","answers":[{"meta":{},"answer":["1.2.3.4"]}],"filters":[]}
    form: {}
    headers:
    url: https://api.nsone.net/v1/zones/jdl-example.com/somewhere.jdl-example.com/A
    method: PUT
  response:
    body: |
      {"domain":"somewhere.jdl-example.com","zone":"jdl-example.com","use_client_subnet":true,"answers":[{"answer":["1.2.3.4"],"meta":{},"id":"5e4b1fd747e68a00849085d6"}],"id":"5e4b1fd747e68a00849085d7","regions":{},"meta":{},"link":null,"filters":[],"ttl":3600,"tier":1,"type":"A","networks":[0]}
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-By:
      - customer
      X-Ratelimit-Limit:
      - "100"
      X-Ratelimit-Period:
      - "200"
      X-Ratelimit-Remaining:
      - "99"
    status: 200 OK
    code: 200
    duration: ""
